*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.richest{
    height: 800px;
    /* background-color: crimson; */
}


.more-detile{
    height: 1700px;
    /* background-color: darkorange; */
}

.table{
    height: 400px;
    /* background-color: darkmagenta; */
}


.faq{
    height: 300px;
    /* background-color: darkseagreen; */
}


.media{
    height: 500px;
    /* background-color: darkslateblue; */
}


.contact{
    height: 300px;
    /* background-color: darkturquoise; */
}
.logo{
    width: 50%;
    float: left;
}

.logo img{
    width: 15%;
    height: 15%;
    margin-top: 15px;
}


.logo p{
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
    float: left;
    margin-top: 15px;
}


.menu{
    width: 45%;
    float: right;
    text-align: right;
    
    
}
.menu img{
    width: 15%;
    height: 15%;
    margin-top: 15px;
}


nav{
    width: 45%;
    float: left;
    text-align: left;
}


nav ul{
    display: none;
}



section{
    height: 100px;
}
.banner{
    height: 500px;
    background-image: url('img/banner.jpg');
    background-position: center;
    background-size:cover;

}

.text1{
    
    text-align: center;
    font-size: 20px;
    color:darkcyan;
    font-weight: bold;
    padding-top: 15px;
    animation:scale 4s linear infinite;
    
    
}



.text2{
    font-size: 30px;
    padding-top: 250px;
    animation:move 4s linear infinite alternate-reverse;
   
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
}



@keyframes move{
    from{
        margin-left: 0%;
    }

    50%{
        font-size: 25px;
        color: darkblue;
    }


    to{
        margin-left: 45%;
        color: darkorange;
        font-size: 20px;
    }
}


@keyframes scale{
    from{
        transform:scale(1.1);
        color: darkred;
    }

    to{
        transform:scale(1.5);
        color: darkorchid;
    }
}



.text-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border-bottom: 4px double white;
    width: fit-content;
    text-shadow: 2px -3px 2px lightgrey;
    margin-top: 15px;
    margin: 0 auto;
    padding: 15px;
    
    
}

.per-card{
    width: 40%;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    display: inline-block;
    padding-top: 30px;
    margin-top: 30px;
    transition: all 1s linear;
    margin: 20px;
    overflow: hidden;
    
}


.per-card:hover{
    transform: scale(1.1);
    box-shadow: 3px -3px 5px whitesmoke;
    background-color: rgb(212, 159, 138);
    color: orangered;
}

.per-card img{
    width: 50%;
    height: 60%;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 50px;
    
}

.per-card h3{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}

/* .more-detile{
    margin-top: 700px;
    height: 800px;
} */

.image{
    width: 45%;
    float: left;
}

.info{
    width: 45%;
    float: right;
}


.image img{
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.d-card{
    width: 90%;
    height: 300px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: whitesmoke;
}

.d-card:hover{
    box-shadow: -0px -3px 10px whitesmoke;
}

.info h2{
    padding: 10px;
    color: darkgoldenrod;
}

i{
    font-weight: bold;
    font-style: normal;
    color: brown;
}


/* .table{
    margin-top: 850px;
} */

table{
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

thead{
    height: 58px;
    background-color: coral;
    margin: 20px;
}



tbody tr{
    height: 50px;
    background-color: lightpink;
}

tbody tr:hover{
    background-color: lightsalmon;
}

.num{
    margin-left: 20px;
    font-weight: bold;
    border: 2px solid orange;
    width: 5px;
    height: 5px;
    background-color: orangered;
}


.faq p{
    margin-top: 20px;
}

.faq a{
    text-decoration: none;
    font-size: 20.5px;
    font-weight: bold;
    margin: 15px;
}


.faq article{
    height: 0;
    overflow: hidden;
    margin-left: 20px;
}


.faq article:target{
    height: 100px;
    transition: all 50ms;
   
}


.faq article p{
    margin-bottom: 10px;
    
}

iframe{
    width: 400px;
    height: 400px;
    border: 5px solid whitesmoke;
    margin-top: 20px;
    margin-left: 50px;
}

.row{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin: 10px;
    
}


input{
    width: 50%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;

}

input:focus{
    outline: none;
}
.send{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 10px;
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightgreen;
    color: black;
}


.footer{
    height: 100px;
}

.footer p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}



.footer img{
    width: 8.5%;
    height: 8.5%;
    display: inline-block;

    
   
} 


.f-img{
    margin: 0 auto;
    margin-left: 200px;
    padding: 15px;
}



